#activeUsers {
  position: absolute;
  top: 0;
  width: 20vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #0c0c11;

  border-right: 2px solid dimgrey;
  & div.title {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    color: aliceblue;
  }
  & ul#userList {
    padding-top: 1rem;
    padding-left: 1rem;
    list-style: none;

    & li.user {
      font-size: 1.6rem;
      color: aliceblue;
      cursor: pointer;
      user-select: none;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.selected {
        color: #39acf3;
      }
      &:hover {
        color: #a4bfc6;
      }
    }
  }
}

#activeChat {
  position: absolute;
  top: 0;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #091618;

  & #no-chat-open {
    position: absolute;
    top: 50%;
    user-select: none;
    transform: translateY(-100%);
    font-size: 4rem;
    width: 100%;
    color: aliceblue;
    text-align: center;
  }

  & #chat-input {
    position: absolute;
    bottom: 0;
    height: 3rem;
    border-radius: 0;
    border: 0;
    border-top: 2px solid dimgrey;
    background-color: #0c0c11;
    color: aliceblue;
    &::placeholder {
      color: #a4bfc6;
    }
    &:focus {
      box-shadow: none;
    }
  }

  & #chat-person {
    width: 100%;
    height: 3rem;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    border-bottom: 1px solid dimgrey;
  }

  & #chat-messages {
    position: absolute;
    top: 3rem;
    width: 80vw;
    left:0;
    height: calc(100vh - 6rem);
    padding: 1.5rem;
    overflow-y: auto;

    & .message {
      color: aliceblue;
      margin-top: 1rem;

      &:nth-of-type(1) {
        margin-top: 0;
      }

      & .message-body {
        display: inline;
        padding: 0.38rem 1rem;
        background-color: #39acf3;
      }

      &.self{
        & .message-body {
          border-radius: 12px 12px 0 12px;
        }
        text-align: right;
      }

      &.other {
        & .message-body {
          background-color: #2b4abc;
          border-radius: 0 12px 12px 12px;
        }
      }
    }
  }
}