<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="bg-dark">
<div class="container">
    <div class="text-center text-light">
        <h1 class="mt-5"><%= message_main %></h1>
        <h1 class="mt-0"><%- message_redirect %></h1>
        <small class="mt-5"><%= message_page %></small>
    </div>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>