<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="bg-dark">

<div id="activeUsers"></div>
<div id="activeChat">
    <div class="d-none" id="no-chat-open">No chat open</div>
    <div id="chat">
        <div id="chat-person">Teodor Vecerdi</div>
        <div id="chat-messages">
            <div class="message self"><div class="message-body">Hello, world</div></div>
            <div class="message other"><div class="message-body">Hello, world indeed</div></div>
        </div>
        <input id="chat-input" class="form-control" type="text" aria-label="Message" placeholder="Message">
    </div>
</div>

<% include ../partials/footer.ejs %>

<script>
    const activeUsers = $("#activeUsers");
    let selfUser, chattingWith;

    $(() => {
        selfUser = JSON.parse(Cookies.get('logged-in').substr(2));
        loadActiveUsers();
    });

    function loadActiveUsers() {
        activeUsers.html("");
        $.ajax({
            url: '/chat/active-users',
            type: 'get',
            success: data => {
                let html = "";
                console.log(data);
                for (let userId in data) {
                    let user = data[userId];
                    if(user.id === selfUser.id) continue;
                    if(chattingWith !== undefined && chattingWith == user.id) openChat(user.id);
                    html += `<li class="user" data-user-id="${user.id}"><span title="${user.username}">${user.username}</span></li>`;
                }

                html = `
<div class="title">Users</div>
<ul id="userList"">${html}</ul>`;
                activeUsers.html(html);

                $('.user').on('click', event => {
                    let user = $(event.currentTarget);
                    $('.user.selected').removeClass('selected');
                    user.addClass('selected')
                    let userId = user.data('user-id');
                    openChat(userId)
                })
            },
            error: err => {
                console.error(err);
            }
        });
    }

    function openChat(userId) {
        if(chattingWith === undefined) {
            $('#no-chat-open').addClass('d-none')
            $('#chat').removeClass('d-none');
        }

        chattingWith = userId;
        console.log(`Chatting with ${chattingWith}`)
    }
</script>
</body>
</html>