<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="bg-dark">
<div class="container">
    <div class="text-center text-light">
        <h1 class="mt-5">Login Page</h1>
        <h2>Set your username</h2>
        <div class="col-3 position-absolute start-50 translate-middle-x py-2">
                <input id="username" style="border-radius: 0" class="bg-transparent text-white border-1 border-info form-control py-2" type="text" aria-label="Username" placeholder="Username">
        </div>
        <div class="col-3 mt-5 position-absolute start-50 translate-middle-x">
            <div id="loginButton" style="border-radius: 0" class="btn w-100 btn-outline-info mt-2">Sign in</div>
        </div>

    </div>
</div>

<% include ../partials/footer.ejs %>

<script>
    $("#loginButton").on('click', () => {
        let username = $("#username").val();
        if(username !== "") {
            $("#username").val("");
            $.ajax({
                url: '/login/set-user',
                type: 'post',
                data: {username: username},
                success: () => {
                    window.location.href = "/";
                },
                error: err => {
                    console.error(err);
                }
            })
        }
    })
</script>
</body>
</html>